.sb_footer-below-links {
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
}
.sb_footer-links_div {
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
..sb_footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
 
}

.footer {
  background-color: blueviolet;
}
