.gradient-button {
  background: linear-gradient(to right, #7173c5, #4809bf, #4809bf, #983a87);
  /* Additional button styles */
}

.body-div{
  margin-bottom: 8rem;
  height: 500px;
  background-color:purple;
  color:white
  
}

/* .body-div{
  height: 700px;
  background-color:#7A319A;
} */
.box::after {
  height: 600px;
  width: 500px;
  position: absolute;
  content: '';
  border-top: 50vh solid purple;
  border-bottom: 50vh solid purple;
  border-right: 100vw solid transparent;
  width: 0;
}